html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(24, 24, 24);
}

/* Fonts
font-family: 'Bonny', serif;
font-family: 'Clash Display', sans-serif;
font-family: 'Ranade', sans-serif;
font-family: 'Panchang', sans-serif;
font-family: 'Britney', cursive;
*/


.main-container {
    display: flex;
    z-index: 10;
    position: absolute;
    top: 15px;
    left: 40px;
    color: white;
    pointer-events: none;
}
.main-container .title {
    margin: 0px;
    font-size: 80px;
    font-family: 'Britney', cursive;
    text-shadow: 0px 0px 10px rgb(244, 244, 244);
}

.right-container {
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    font-family: 'Britney', cursive;
    pointer-events: none;
}
.right-container .data {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 10px;
}
.right-container .header {
    font-size: 32px;
    margin: 0px;
    text-shadow: 0px 0px 10px rgb(244, 244, 244);
}
.right-container .text {
    font-size: 24px;
    margin: 0px;
    margin-bottom: 2px;
    text-shadow: 0px 0px 10px rgb(244, 244, 244);
    filter: blur(7px);
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
    border-radius: 10px;
}
#video {
  border-radius: 10px;
}

/* Custom Cursor */
.custom-cursor {
    position: fixed;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    z-index: 9999;
  }


  /* RSVP MODAL ------------------------------------------------------------------------------- */
  .modal-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    z-index: 100;
  }
  .modal-bucket {
    min-width: 50vw;
    min-height: 60vh;
    max-width: 60vw;
    border: 1px solid white;
    border-radius: 10px;
    backdrop-filter: blur(10px); 
    background: #f6316f80;
    padding: 45px;
    font-family: 'Panchang', sans-serif;
  }
  .modal-bucket .title {
    color: black;
    /* text-shadow: 0px 0px 10px rgb(148, 148, 148); */
    margin-bottom: 35px;
    font-family: 'Britney', cursive;
    display: flex;
    justify-content: start;
  }
  .modal-bucket .title h1 {
    margin: 0px;
    font-size: 60px;
    background: #222 linear-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    background-image: linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
    background-size: 200px;
    color: rgba(0, 0, 0, 0.623);
    background-clip: text;
    animation-name: shine;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.272);
  }
  .modal-bucket .modal-field {
    display: flex;
    width: 100%;
    gap: 50px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
  }
  .modal-bucket .modal-field:last-child {
    margin-bottom: 10px;
  }
  .modal-bucket .modal-field .marker {
    padding: 5px;
    box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.97), inset 0px 0px 10px 0.5px rgba(255, 255, 255, 0.97);
    max-width: fit-content;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    width: 100%;
  }
  .modal-bucket .modal-field .marker p {
    font-size: 18px;
    margin: 0px;
    padding: 2px;
    color: rgb(255, 99, 99);
    color: rgb(197, 67, 108);
    font-weight: 500;
    text-shadow: rgb(197, 67, 108) 0px 2px 23px;
  }
  .modal-bucket .modal-field .input {
    /* width: 100%; */
    min-width: 50%;
  }
  .modal-bucket .modal-field input {
    background-color: transparent;
    color: rgb(187, 187, 187);
    border: none;
    padding: 10px 10px 5px 10px;
    width: 90%;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Britney', cursive;
    border-bottom: 2px solid rgb(187, 187, 187);
    border-right: 2px solid rgb(187, 187, 187);
    border-bottom-right-radius: 30px;
  }
  .modal-bucket .modal-field input::placeholder {
    color: rgb(120, 120, 120)
  }
  .modal-bucket .modal-field input:focus {
    outline: none;
  }
  .modal-bucket .submit {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    cursor: pointer;
  }
  .modal-bucket .submit .submit-text {
    text-transform: uppercase;
    font-size: 32px;
    font-family: 'britney', cursive;
    color: rgb(187, 187, 187);
    text-shadow: 0px 0px 10px rgb(187, 187, 187);
  }
  .modal-bucket .submit .submit-text:hover {
    color: rgb(248, 248, 248);
    text-shadow: 0px 0px 10px rgb(244, 244, 244);
  }

  .alert {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: medium;
    font-family: 'Britney', cursive;
    font-size: 22px;
    /* text-align: center; */
  }

  .alert.success {
      background-color: #4caf50;
      color: white;
  }

  .alert.error {
      background-color: #f44336;
      color: white;
  }


  @keyframes shine {
    0% {
      background-position: -200px;
    }
    100% {
      background-position: 200px;
    }
  }



  
@media screen and (max-width: 800px) {
    .main-container {
        top: 10px;
        left: 0px;
        /* backdrop-filter: blur(5px); */
        padding-left: 30px;
        border-radius: 10px;
    }
    .right-container {
        top: 130px;
        left: -10px;
        /* backdrop-filter: blur(5px); */
        padding-left: 30px;
        border-radius: 10px;
    }
    .main-container .title {
        font-size: 80px;
        width: 300px;
    }
    .right-container .header {
        font-size: 34px;
    }
    .right-container .text {
        font-size: 18px;
        margin-bottom: 5px;
    }



    /* RSVP MODAL */
    .modal-bucket {
        padding: 30px 30px 40px 30px;
        min-width: 65vw;
        max-height: 70vh;
        overflow: scroll;
    }
    .modal-bucket .title {
        margin-bottom: 20px;
    }
    .modal-bucket .title h1 {
        font-size: 36px;
      }

    .modal-bucket .field-container {
        display: flex;
        flex-direction: column;
    }
    .modal-bucket .modal-field {
      flex-direction: column;
      gap: 0px;
      align-items: flex-start;
    }
    .modal-bucket .modal-field:last-child {
        margin-bottom: 0px;
    }
    .modal-bucket .modal-field .marker p {
        font-size: 12px;
    }
    .modal-bucket .modal-field input {
        width: 100%;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    .modal-bucket .modal-field .input {
        min-width: 90%;
    }
    .modal-bucket .modal-field input::placeholder {
      color: rgb(213, 213, 213);
      font-size: 22px;
    }
    .modal-bucket .submit {
        margin-right: 10px;
    }
    .modal-bucket .submit .submit-text {
        font-size: 24px;
    }
    
}
