html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(24, 24, 24);
}

/* Fonts
font-family: 'Bonny', serif;
font-family: 'Clash Display', sans-serif;
font-family: 'Ranade', sans-serif;
font-family: 'Panchang', sans-serif;
font-family: 'Britney', cursive;
*/


.main-container {
    display: flex;
    z-index: 10;
    position: absolute;
    top: 15px;
    left: 40px;
    color: white;
}
.main-container .title {
    margin: 0px;
    font-size: 80px;
    font-family: 'Britney', cursive;
}

.right-container {
    position: absolute;
    top: 30px;
    right: 50px;
    color: white;
    font-family: 'Britney', cursive;
}
.right-container .data {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 10px;
}
.right-container .header {
    font-size: 32px;
    margin: 0px;
}
.right-container .text {
    font-size: 24px;
    margin: 0px;
    margin-bottom: 2px;
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}

/* Custom Cursor */
.custom-cursor {
    position: fixed;
    pointer-events: none;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    z-index: 9999;
  }


  /* RSVP MODAL ------------------------------------------------------------------------------- */
  .modal-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    z-index: 100;
  }
  .modal-bucket {
    min-width: 50vw;
    min-height: 60vh;
    max-width: 60vw;
    border: 1px solid white;
    border-radius: 10px;
    backdrop-filter: blur(10px); 
    background: #f6316f80;
    padding: 45px;
    font-family: 'Panchang', sans-serif;
  }
  .modal-bucket .title {
    color: black;
    margin-bottom: 35px;
    font-family: 'Britney', cursive;
    display: flex;
    justify-content: center;
  }
  .modal-bucket .title h1 {
    margin: 0px;
    font-size: 60px;
  }
  .modal-bucket .modal-field {
    display: flex;
    width: 100%;
    gap: 50px;
    margin-bottom: 40px;
    align-items: center;
  }
  .modal-bucket .modal-field .marker {
    padding: 5px;
    box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.97), inset 0px 0px 10px 0.5px rgba(255, 255, 255, 0.97);
    max-width: fit-content;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    width: 100%;
  }
  .modal-bucket .modal-field .marker p {
    font-size: 22px;
    margin: 0px;
    padding: 2px;
    color: rgb(255, 99, 99);
    color: rgb(197, 67, 108);
    font-weight: 500;
    text-shadow: rgb(197, 67, 108) 0px 2px 23px;
  }
  .modal-bucket .modal-field .input {
    width: 100%;
  }
  .modal-bucket .modal-field input {
    /* background-color: rgb(43, 43, 43); */
    background-color: transparent;
    color: black;
    border: none;
    padding: 10px 10px 5px 10px;
    /* border-radius: 5px; */
    width: 90%;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Britney', cursive;
    border-bottom: 2px solid white;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-right: 2px solid white;
    border-right: 2px solid rgb(0, 0, 0);
    border-bottom-right-radius: 30px;
  }
  .modal-bucket .modal-field input::placeholder {
    color: rgb(156, 156, 156);
    color: black;
  }
  .modal-bucket .modal-field input:focus {
    outline: none;
  }



  
@media screen and (max-width: 800px) {
    .main-container {
        top: 10px;
        left: 0px;
        backdrop-filter: blur(5px);
        padding-left: 30px;
        border-radius: 10px;
    }
    .right-container {
        top: 130px;
        left: 00px;
        backdrop-filter: blur(5px);
        padding-left: 30px;
        border-radius: 10px;
    }
    .main-container .title {
        font-size: 80px;
        width: 300px;
    }
    .right-container .header {
        font-size: 34px;
    }
    .right-container .text {
        font-size: 20px;
        margin-bottom: 5px;
    }



    /* RSVP MODAL */
    .modal-bucket {
        padding: 30px;
    }
    .modal-bucket .title h1 {
        font-size: 42px;
      }

    .modal-bucket .modal-field .marker p {
        font-size: 12px;
    }
    
}
